<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="ServicioLibroSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="ServicioLibroSoap1" />
                <binding name="BasicHttpBinding_IServicioLibro" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44370/ServicioLibro.asmx"
                binding="basicHttpBinding" bindingConfiguration="ServicioLibroSoap"
                contract="ServiceLibroASMX.ServicioLibroSoap" name="ServicioLibroSoap" />
            <endpoint address="http://localhost:49933/ServicioLibro.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IServicioLibro"
                contract="ServiceLibroWCF.IServicioLibro" name="BasicHttpBinding_IServicioLibro" />
        </client>
    </system.serviceModel>
</configuration>